blueprint:
  name: |-
    ehmtxv2: Hide screen elements on 8x32 RGB-matrix
  description: Removes the gauge, indicator or alarm element from your EspHoMaTriXv2 display.
  domain: automation
  input:
    ehmtx_device:
      name: Which display to use
      selector:
        device:
          integration: esphome
    trigger_sensor:
      name: Which state change triggers this automation
      selector:
        entity:
          domain: sensor
    element:
      name: The screen element
      selector:
        select:
          custom_value: true
          mode: dropdown
          options:
           - label: alarm
             value: hide_alarm
           - label: gauge
             value: hide_gauge
           - label: indicator
             value: hide_indicator
      default: hide_indicator
    
variables:
  display: !input ehmtx_device
  service: !input element

mode: parallel

trigger:
  - platform: state
    entity_id: !input trigger_sensor

action:
  - service: |-
      esphome.{{ device_attr(display, "name") }}_{{service}}
