blueprint:
  name: |-
    ehmtxv2: delete screen from 8x32 RGB-matrix
  description: This blueprint is triggered by a state change and will remove a certain screen from the queue. The screen is selected by type an icon.
  domain: automation
  source_url: https://github.com/lubeda/EspHoMaTriXv2/tree/main/copy2esphome
  input:
    ehmtx_device:
      name: Which EspHoMaTriXv2 device to use
      selector:
        device:
          filter:
          - integration: esphome
            model: EHMTXv2
    trigger_sensor:
      name: Which state change triggers the automation?
      selector:
        entity:
          domain: sensor
    screen_mode:
      name: The mode od the screen?
      description: Some modes use a icon some not. The use "*" as icon, e.g. for MODE_BLANK.
      selector:
        select:
          custom_value: true
          mode: dropdown
          options:
            - label: MODE_ICON_SCREEN
              value: "5"
            - label: "MODE_BLANK (*)"
              value: "1"
            - label: "MODE_CLOCK (*)"
              value: "2"
            - label: "MODE_DATE (*)"
              value: "3"
            - label: MODE_FULL_SCREEN
              value: "4"
            - label: "MODE_TEXT_SCREEN (*)"
              value: "6"
            - label: "MODE_RAINBOW_ICON (*)"
              value: "7"
            - label: "MODE_RAINBOW_TEXT (*)"
              value: "8"
            - label: "MODE_RAINBOW_CLOCK (*)"
              value: "9"
            - label: "MODE_RAINBOW_DATE (*)"
              value: "10"
            - label: "MODE_BITMAP_SCREEN (*)"
              value: "11"
            - label: "MODE_BITMAP_SMALL (*)"
              value: "12"
            - label: "MODE_COLOR (*)"
              value: "13"
      default: "5"
    icon_name:
      name: The icon to specify a screen.
      description: These are the default icons, extend this list to your needs in the blueprint
      selector:
        select:
          mode: dropdown
          options:
            [
              "*",
              "error",
              "home_assistant",
              "temperature",
              "lightbulb",
              "music",
              "phone",
              "car",
              "sleep8x32",
            ]
      default: home_assistant

variables:
  display: !input ehmtx_device

mode: parallel

trigger:
  - platform: state
    entity_id: !input trigger_sensor

action:
  - service: |-
      esphome.{{ device_attr(display, "name") }}_del_screen
    data:
      icon_name: !input icon_name
      mode: !input screen_mode
