name: Publish wiki
on:
  push:
    branches: 
      - 2024.5.0
      - 2024.1.0-prerelease
    paths:
      - wiki/**
      - .github/workflows/wiki.yaml
concurrency:
  group: publish-wiki
  cancel-in-progress: true
permissions:
  contents: write
jobs:
  publish-wiki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Andrew-Chen-Wang/github-wiki-action@v4.4.0